html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: white;}
     
    body{

    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: white;}

    main  { 

        width: 30%;
        height: 160%;
        margin-left: 20px;
        background-color: rgb(208, 233, 245);}

    aside  { 

        width: 60%;
        padding-left: 15px;
        margin-left: 15px;
        float: right;
        background-color: white;
        }

    
     
    header { background-color: rgb(162, 164, 175);
    margin-left: 360px ;
    margin-right: 100px;
    }
     
    header ul { background-color: white;}
     
    